@import url('https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap');

$text-color: #fff;

$black-primary: #0f0f0f;
$black-secondary: #121417;
$border-color: hsl(0, 0%, 18.82%);

$breakpoint-medium: 1224px;
$breakpoint-small: 520px;

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
body {
	background-color: $black-primary;
    background-attachment: fixed;
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
}
input,
button,
textarea {
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}