.wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.app {
    &__container {
        display: flex;
        margin-top: 10vh;
    }
    &__main {
    }
}
