$text-color: #fff;
$grey-color: #b1bdb4;

$black-primary: #0f0f0f;
$black-secondary: #121417;
$border-color: hsl(0, 0%, 18.82%);

$breakpoint-medium: 1224px;
$breakpoint-small: 520px;

@mixin line-clamp($number) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
}
::-webkit-scrollbar {
    width: 0px;
}
